@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Slab:wght@100..900&display=swap');

:root{
    /* root é a caixinha de variáveis *//* fffffffffff */
    --cor-de-fundo: #eccba4;
    --texto:#000000; 
}

body{
    background-color:var(--cor-de-fundo);
    color: var(--texto);
}
img{
    width: 20%;

}

header{
    display: flex;
    align-items: center;
}

.img-intro{
    width: 20%;

}
.intro{
    display: flex;
    grid-template-columns: 40% 40%;
    text-align: center;
    padding: 20px 0;
}

.foto da dupla{
    width: 20;
}

header a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}


footer{
    background-color: rgb(235, 229, 205);
}