:root{
    /* root é a caixinha de variáveis *//* fffffffffff */
    --cor-de-fundo: #eccba4;
    --texto:#000000; 
}

body{
    background-color:var(--cor-de-fundo);
    color: var(--texto);
}
img{
    width: 10%;

}

header{
    display: flex;
    align-items: center;
}

.img-intro{
    width: 20%;

}
.intro{
    display: flex;
    grid-template-columns: 40% 40% 40%;
    text-align: center;
    padding: 20px 0;
}

.foto da dupla{
    width: 20;
}

